:root {
  --background-color-light: rgb(246, 246, 246);
  --border-color: rgb(218, 218, 218);
}

html, body {
  font-size: 12px;
  font-family: sans-serif;
}

.Panel {
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-light);

  & > *:first-child {
    margin-top: 5px;
  }

  th, td {
    text-align: left;
    padding: 1px 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
